@import "~normalize.css";
// ^ To import from node_modules, prefix with ~
// See https://github.com/jtangelder/sass-loader#imports

body, html {
}

body {
  .userList ul{
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    li{
      margin: 20px 0px;
    }
  }
  .userForm{
    margin: 0px 0px 0px 20px;
  }
}
